body{
    font-family: "Lato", sans-serif;
    max-width: 75rem;
    margin: auto;
    height: 100vh;
}

header{
    background-image:url(SharingFood.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    height:200px;
    width: 100%;
    margin: auto;
}

/**** Menu Style *****************************************/
nav {
    border-bottom: 1px solid
}

ul.navlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.navlist li
{
    float: left;
    display: inline;
}

ul.navlist li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navlist li a:hover {
    background-color: #111;
}

/**** Styling for main part */

main {
    border-bottom: 0.5rem solid;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border-bottom: 0.5rem solid;
}


section, aside {
    padding: 0.5rem;
    box-sizing: border-box;
    min-height: 100%;
}

aside {
    background-color: #deded8;
    width: 25%;
    min-width: 200px;
    padding: 10px;
}


section {
    width: 75%;
    padding: 10px;
}


/*Styling for search in aside*/
.search{
    display: block;
    width: auto;
    text-align: left;
}

.center {
    border: 3px solid green;
    padding: 10px;
    margin: 20px auto;
    width: 500px;
}


/* Styling for text inputs in the form*/
.textInput {
    display: block;
    width: auto;
    text-align: left;
}

/*Styling with a media query*/
@media screen and (max-width: 700px) {
    aside, section {
        width: 100%;
    }
}
